@charset "UTF-8";

/* colors & fonts config */

@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root{
    /* font family whole document */
    --font-family: 'Inter', Helvetica, sans-serif;
    /* subtitle + hover/focus */
    --green: hsl(75, 94%, 57%);
    /* links background */
    --grey-700: hsl(0, 0%, 20%);
    /* main background */
    --grey-800: hsl(0, 0%, 12%);
    /* body background */
    --grey-900: hsl(0, 0%, 8%);

}

*{
    font-family: var(--font-family);
    font-size: 1em;
    margin: 0px;
}

body{
    background-color: var(--grey-900);
}

main{
    background-color: var(--grey-800);
    text-align: center;
    margin: 50px auto;
    border-radius: 10px;
    padding-bottom: 15px;
    min-width: 370px;
    max-width: 30%;
}


section > img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
}

section > h1{
    font-size: 1.5em;
    color: white;
    margin: 10px;
}

section > h2{
    font-size: 0.8em;
    color: var(--green);
    margin: 10px;
}

section > p {
    color: white;
    margin: 30px;
}

section > a{
    display: block;

    font-weight: bold;
    text-decoration: none;
    color: white;

    background-color: var(--grey-700);
    margin: 10px auto;
    padding: 15px 0px;
    border-radius: 10px;
    max-width: 300px;
}


footer{
    font-size: 1.2em;
    background-color: var(--grey-700);
    padding: 10px;
    color: var(--green);
    font-weight: 500;
    
}

/* footer class */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(225, 27%, 91%); }